@font-face{
	font-family: 'MonumentValley';
	src: url('res/font/Monument_Valley_1.2-Regular.otf');
}

#carouselExampleIndicators{
	padding-top: 300px;
}

.form-group{
	width: 100%;
}

.label{
	font-family: "MonumentValley";
}
.form-control{
	width: 40%;
}

.carousel-item{
	margin-top:500px;
	margin:auto;
	margin-left: 300px;
	color: white;
	font-size: 30px;
	width: 100%; 
	font-family: "MonumentValley";
}


.slime{
	position: fixed;
	width: 500px;
	transition-property: width;
    transition-duration: 10s;
    transition-timing-function: linear;
    transition-delay: 1s;
    margin-left: 100px;
}

.slime:hover {
    width: 10000px;
}

.input-group-text{
	width: 100px;
}

input{
    background:url(bg-dot.jpg) repeat-x center bottom;
    border: none;
    border-bottom: 3px solid white;
}

body {
	background-position: relative;
	background-attachment: fixed; 
	background-size: cover;
	font-family: "MonumentValley";
}