@font-face{
	font-family: 'MonumentValley';
	src : url('res/font/Monument_Valley_1.2-Regular.otf');
}

.label{
	margin:auto;
	color: white;
	font-size: 30px
	width: 40%; 
	margin-left: 500px;
	font-family: 'MonumentValley';
}

body {
	background-position: relative;
	background-attachment: fixed; 
	background-size: cover;
}