@font-face{
	font-family: 'MonumentValley';
	src: url('res/font/Monument_Valley_1.2-Regular.otf');
}

.carouselExampleIndicators{
	margin-top: 400px;
}

.form-group{
	width: 40%;
}

.label{
	font-family: "MonumentValley";
}

.carousel-item{
	margin:auto;
	margin-left: 700px;
	color: white;
	font-size: 24px;
	width: 100%; 
	font-family: "MonumentValley";
}

.form-control{
	width: 600px;
	height: 400%;
}

.slime{
	width: 500px;
	transition-property: width;
    transition-duration: 10s;
    transition-timing-function: linear;
    transition-delay: 1s;
    margin-left: 100px;
}

.slime:hover {
    width: 10000px;
}

body {
	margin-top: 400px;
	background-position: relative;
	background-attachment: fixed; 
	background-size: cover;
	font-family: "MonumentValley";
}